* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-size: 16px;
  background-color: #eee8e8;
}

main,
#weather-btns,
#weather-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  font-size: 1.5rem;
}

#weather-content {
  background-color: aliceblue;
  border: 2px solid rgb(208, 208, 246);
}

input {
  width: 200px;
  padding: 5px 10px;
  border: 2px solid rgb(208, 208, 246);
  outline: none;
  font-size: 1.5rem;
}

input[type="button"] {
  cursor: pointer;
  background-color:  rgb(208, 208, 246);
}
